@font-face {
    font-family: "work-sans";
    src: url(../_fonts/WorkSans-VariableFont_wght.ttf);
    font-display: auto;
}

:root {
    --dark: #221F20;
    --light: #EEF4F9;
    --medium: #7A7777;
    --body-background: #FFFCFA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: work-sans, sans-serif;
    height: 100%;
    background-color: var(--body-background);
    font-weight: 400;
}

.d-lg-none{
 display: none;
}

.d-lg-block{
    display: block;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 32px 33px 33px 39px;
    margin: 20px 20px 0;
    position: sticky;
    top: -1px;
    left: 0;
    right: 0;
    transition: all 0.2s linear;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .navbar-desktop {
        list-style-type: none;

        li {
            display: inline;
            margin-right: 20px;
        }

        a {
            text-decoration: none;
            color: #000;
            font-size: 14px;
            line-height: 20px;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .contact-us {
        float: right;

        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 9px 11px 7px 15px;
            border: 1px solid #000;
            background-color: var(--body-background);
            text-decoration: none;
            color: #000;
            line-height: 18px;
        }

        img {
            margin-left: 16px;
            height: 14px;
        }

        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }
    }

    .hamburger {
        display: none;
        height: 48px;

        button {
            width: 48px;
            height: 48px;
            background-color: #f9f4ee;
            border: none;

            p {
                font-size: 22px;
                color: var(--medium);
                display: none;
            }
        }
    }

    .navbar-mobile {
        display: none;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: fixed;
        top: 82px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #00000082;
        z-index: 999;
        overflow: hidden;
        padding: 25px;

        &.fade-left-animation {
            animation: fade-left-animation 0.5s ease-in-out;
            opacity: 1;
            display: block;

            @keyframes fade-left-animation {
                0% {
                    transform: translate(-100px, 0);
                    opacity: 0;
                }

                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
        }

        &.fade-right-animation {
            animation: fade-right-animation 0.5s ease-in-out;

            @keyframes fade-right-animation {
                0% {
                    transform: translate(0, 0);
                    opacity: 1;
                }

                100% {
                    transform: translate(-100px, 0);
                    opacity: 0;
                }
            }
        }

        ul {
            list-style-type: none;
            background: white;
            height: 100%;
        }

        li {
            font-size: 16px;
            font-weight: 500;
            padding: 15px 20px;

            a {
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                color: var(--dark);
            }
        }
    }
}

.hero-section {
    position: absolute;
    top: 0;
    z-index: -999;
    left: 0;
    height: 100vh;
    overflow: hidden;

    header {
        position: absolute;
        top: 50%;
        left: 15%;
        color: var(--light);
        transform: translate(0, -50%);
    
        .primary-heading {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
    
            .single-line {
                height: 24px;
            }
        }
    
        .secondary-heading {
            font-size: 64px;
            line-height: 64px;
            margin-top: 24px;
            font-weight: 400;
            text-transform: capitalize;
    
            .single-line {
                height: 64px;
            }
        }
    }

    .hero-carousel {

        .carousel-image {
            width: 100%;
        }

        .thumbnail-slide-wrapper {
            position: absolute;
            bottom: 10%;
            left: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .thumbnail {
                width: 138px;
                height: 138px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--light);
                margin-right: 30px;
                position: relative;
    
                &::before {
                    content: '';
                    position: absolute;
                    border: 8px solid var(--light);
                    top: -4px;
                    right: -4px;
                    width: 50%;
                    height: 50%;
                    border-width: 8px 8px 0 0;
                }
    
                .thumbnail-image {
                    width: 98px;
                    height: 98px;
                }
    
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: var(--light);
                    font-size: 16px;
                }
            }
    
            .slide {
                span {
                    color: var(--light);
                }
    
                .horizontal-line::after {
                    content: "";
                    width: 100px;
                    height: 1px;
                    display: inline-block;
                    background: var(--light);
                    margin: 4px 10px;
                }
    
                .slide-no {
                    font-size: 16px;
                }
            }
        }
    }
}

.main-section {
    margin-top: 100vh;
    margin-bottom: 150px;

    .quality-products {
        padding-top: 52px;

        .title {
            font-size: 56px;
            line-height: 92px;
            letter-spacing: -1px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 30px;
        }

        .para {
            font-size: 24px;
            color: var(--medium);
            max-width: 750px;
            margin: auto;
            text-align: center;
        }

        .image-carousel-wrapper {
            width: 100%;
            margin: 80px auto 0;
            overflow: hidden;
            position: relative;
            .carousel {
                position: relative;
            }

            .slides {
                display: flex;
                transition: transform 1.5s ease-in-out;
            }

            .slide {
                display: flex;
                flex: 0 0 calc(100% / 3);
                flex-direction: column;
                align-items: center;
                opacity: 0;
                transition: all 1.5s ease-in-out;

                img {
                    width: 80%;
                    transition: transform 1.5s ease-in-out;
                }

                .image-title {
                    font-size: 36px;
                    line-height: 52px;
                    letter-spacing: -1px;
                    text-align: center;
                    font-weight: 400;
                    margin-top: 35px;
                    display: none;
                }

                .image-caption {
                    margin-top: 20px;
                    font-size: 24px;
                    color: var(--medium);
                    text-align: center;
                    display: none;

                }

                &.left-slide-rotate {
                    opacity: 1;

                    img {
                        transform: rotate(-9.5deg) translate(-100px, 20px);
                    }
                }

                &.right-slide-rotate {
                    opacity: 1;

                    img {
                        transform: rotate(9.5deg) translate(100px, 20px);
                    }
                }

                &.left-most-slide-rotate {
                    img {
                        transform: rotate(-19.5deg) translate(-100px, 40px);
                    }
                }

                &.right-most-slide-rotate {
                    img {
                        transform: rotate(19.5deg) translate(100px, 40px);
                    }
                }

                &.active {
                    opacity: 1;

                    img {
                        transform: rotate(0) translateY(0);
                    }

                    .image-title,
                    .image-caption {
                        display: block;
                    }
                }
            }

            button {
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                padding: 10px 20px;
                background: #333;
                color: #fff;
                border: none;
                cursor: pointer;
            }

            .prev {
                left: 25px;
            }

            .next {
                right: 25px;
            }
            
        }
    }
}
.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #fdfcfc7d;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
.pre-loader {
    background: var(--dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);

    .circle-loader:before {
        content: "";
        position: fixed;
        top: calc(50% - 0px);
        left: calc(50% - 30px);
        border: 6px solid var(--dark);
        border-top-color: var(--light);
        border-bottom-color: var(--light);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: animate-circle-loader 1s linear infinite;
    }

    @keyframes animate-circle-loader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.banner-text-animation {
    .single-line {
        overflow: hidden;
    }

    span {
        animation-name: text-animation;
        animation-duration: calc(var(--i) * 1s);
        animation-timing-function: ease-in-out;
        display: inline-block;
    }

    @keyframes text-animation {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.single-word-fade-animation {
    opacity: 0;

    &.active {
        opacity: 1;
        display: flex;
        justify-content: center;
        list-style-type: none;

        .spacing {
            width: 15px;
        }

        span {
            animation-name: fadeLeft;
            animation-duration: calc(var(--i) * 1s);
            animation-timing-function: ease-in-out;
        }

        @keyframes fadeLeft {
            0% {
                transform: translateX(-200px);
                opacity: 0;
            }

            60% {
                opacity: 1;
                transform: translateX(200px);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.fade-up-animation {
    opacity: 0;

    &.active {
        animation: fade-up-animation 1.5s ease-in-out;
        opacity: 1;

        @keyframes fade-up-animation {
            0% {
                transform: translateY(100px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1045px) {
    .hero-section{
        header {
            top: 22%;
            .secondary-heading {
                font-size: 50px;
                line-height: 50px;
                margin-top: 10px;
            }
        }

        .hero-carousel .thumbnail-slide-wrapper {
            bottom: unset;
            top: 30%;
        }
    } 

    .main-section {
        margin-top: 50vh;
    }
}

@media screen and (max-width: 767px) {
    .d-none{
        display: none;
    }
    
    .d-block{
        display: block;
    }
    nav {
        margin: 0;
        padding: 16px 24px 17px 27.5px;

        .navbar-desktop {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .contact-us {
            a {
                padding: 9px 9px 7px 16.5px;
            }

            img {
                margin-left: 29px;
                width: 20px;
            }
        }
    }

    .hero-section {
        header {
            left: 25px;
            top: 45%;
    
            .primary-heading {
                font-size: 14px;
                line-height: 18px;
            }
    
            .secondary-heading {
                font-size: 46px;
                line-height: 46px;
                margin-top: 15px;
                width: 90%;
    
                .single-line:first-child {
                    height: 92px;
                }
            }
        }

        .hero-carousel {
            .carousel-image {
                height: 100vh;
            }
            .thumbnail-slide-wrapper {
                left: 25px;
    
                .thumbnail {
                    width: 115px;
                    height: 115px;
                    margin-right: 30px;
    
                    .thumbnail-image {
                        width: 80px;
                        height: 80px;
                    }
    
                    p {
                        font-size: 14px;
                    }
                }
    
                .slide .slide-no {
                    font-size: 14px;
                }
            }
        }

        
    }

    .main-section .quality-products {
        padding-top: 0;

        .title {
            font-size: 30px;
            line-height: 1;
            margin-bottom: 20px;
        }

        .para {
            font-size: 16px;
            max-width: 75%;
        }

        .image-carousel-wrapper {
            margin-top: 25px;

            .carousel {
                .image-title {
                    margin-top: 50px;
                    line-height: 40px;
                    font-size: 24px;
                }

                .image-caption {
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 15px;
                }

                .slide {
                    img {
                        width: 150%;
                    }

                    &.active {
                        img {
                            transform: rotate(0) translateY(20px);
                        }
                    }

                    &.left-slide-rotate {
                        img {
                            transform: rotate(-9.5deg) translate(-130px, 20px);
                        }
                    }

                    &.right-slide-rotate {
                        img {
                            transform: rotate(9.5deg) translate(130px, 20px);
                        }
                    }
                }
            }

            button {
                top: 40%;
            }
        }

        p {
            margin: auto;
            width: 100%;
        }
    }
}