@import url(./fonts.css);
:root {
  --dark: #221F20;
  --light: #EEF4F9;
  --medium: #7A7777;
  --body-background: #FFFCFA;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: work-sans, sans-serif;
  height: 100%;
  background-color: var(--body-background);
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 32px 33px 33px 39px;
  margin: 20px 20px 0;
  position: sticky;
  top: -1px;
  left: 0;
  right: 0;
  transition: all 0.2s linear;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .navbar-desktop {
  list-style-type: none;
}
nav .navbar-desktop li {
  display: inline;
  margin-right: 20px;
}
nav .navbar-desktop a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
nav .navbar-desktop a:hover {
  opacity: 0.6;
}
nav .contact-us {
  float: right;
  transition: all 0.3s ease-in-out;
}
nav .contact-us a {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 9px 11px 7px 15px;
  border: 1px solid #000;
  background-color: var(--body-background);
  text-decoration: none;
  color: #000;
  line-height: 18px;
}
nav .contact-us img {
  margin-left: 16px;
  height: 14px;
}
nav .contact-us:hover {
  transform: scale(1.03);
}
nav .hamburger {
  display: none;
  height: 48px;
}
nav .hamburger button {
  width: 48px;
  height: 48px;
  background-color: #f9f4ee;
  border: none;
}
nav .hamburger button p {
  font-size: 22px;
  color: var(--medium);
  display: none;
}
nav .navbar-mobile {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  overflow: hidden;
  padding: 25px;
}
nav .navbar-mobile.fade-left-animation {
  animation: fade-left-animation 0.5s ease-in-out;
  opacity: 1;
  display: block;
}
@keyframes fade-left-animation {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
nav .navbar-mobile.fade-right-animation {
  animation: fade-right-animation 0.5s ease-in-out;
}
@keyframes fade-right-animation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, 0);
    opacity: 0;
  }
}
nav .navbar-mobile ul {
  list-style-type: none;
  background: white;
  height: 100%;
}
nav .navbar-mobile li {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
}
nav .navbar-mobile li a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--dark);
}

.hero-section {
  position: absolute;
  top: 0;
  z-index: -999;
  left: 0;
  height: 100vh;
  overflow: hidden;
}
.hero-section header {
  position: absolute;
  top: 50%;
  left: 15%;
  color: var(--light);
  transform: translate(0, -50%);
}
.hero-section header .primary-heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.hero-section header .primary-heading .single-line {
  height: 24px;
}
.hero-section header .secondary-heading {
  font-size: 64px;
  line-height: 64px;
  margin-top: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.hero-section header .secondary-heading .single-line {
  height: 64px;
}
.hero-section .hero-carousel .carousel-image {
  width: 100%;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper {
  position: absolute;
  bottom: 10%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail {
  width: 138px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light);
  margin-right: 30px;
  position: relative;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail::before {
  content: "";
  position: absolute;
  border: 8px solid var(--light);
  top: -4px;
  right: -4px;
  width: 50%;
  height: 50%;
  border-width: 8px 8px 0 0;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail .thumbnail-image {
  width: 98px;
  height: 98px;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  font-size: 16px;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .slide span {
  color: var(--light);
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .slide .horizontal-line::after {
  content: "";
  width: 100px;
  height: 1px;
  display: inline-block;
  background: var(--light);
  margin: 4px 10px;
}
.hero-section .hero-carousel .thumbnail-slide-wrapper .slide .slide-no {
  font-size: 16px;
}

.main-section {
  margin-top: 100vh;
  margin-bottom: 150px;
}
.main-section .quality-products {
  padding-top: 52px;
}
.main-section .quality-products .title {
  font-size: 56px;
  line-height: 92px;
  letter-spacing: -1px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.main-section .quality-products .para {
  font-size: 24px;
  color: var(--medium);
  max-width: 750px;
  margin: auto;
  text-align: center;
}
.main-section .quality-products .image-carousel-wrapper {
  width: 100%;
  margin: 80px auto 0;
  overflow: hidden;
}
.main-section .quality-products .image-carousel-wrapper .carousel {
  position: relative;
}
.main-section .quality-products .image-carousel-wrapper .slides {
  display: flex;
  transition: transform 1.5s ease-in-out;
}
.main-section .quality-products .image-carousel-wrapper .slide {
  display: flex;
  flex: 0 0 33.3333333333%;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}
.main-section .quality-products .image-carousel-wrapper .slide img {
  width: 80%;
  transition: transform 1.5s ease-in-out;
}
.main-section .quality-products .image-carousel-wrapper .slide .image-title {
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -1px;
  text-align: center;
  font-weight: 400;
  margin-top: 35px;
  display: none;
}
.main-section .quality-products .image-carousel-wrapper .slide .image-caption {
  margin-top: 20px;
  font-size: 24px;
  color: var(--medium);
  text-align: center;
  display: none;
}
.main-section .quality-products .image-carousel-wrapper .slide.left-slide-rotate {
  opacity: 1;
}
.main-section .quality-products .image-carousel-wrapper .slide.left-slide-rotate img {
  transform: rotate(-9.5deg) translate(-100px, 20px);
}
.main-section .quality-products .image-carousel-wrapper .slide.right-slide-rotate {
  opacity: 1;
}
.main-section .quality-products .image-carousel-wrapper .slide.right-slide-rotate img {
  transform: rotate(9.5deg) translate(100px, 20px);
}
.main-section .quality-products .image-carousel-wrapper .slide.left-most-slide-rotate img {
  transform: rotate(-19.5deg) translate(-100px, 40px);
}
.main-section .quality-products .image-carousel-wrapper .slide.right-most-slide-rotate img {
  transform: rotate(19.5deg) translate(100px, 40px);
}
.main-section .quality-products .image-carousel-wrapper .slide.active {
  opacity: 1;
}
.main-section .quality-products .image-carousel-wrapper .slide.active img {
  transform: rotate(0) translateY(0);
}
.main-section .quality-products .image-carousel-wrapper .slide.active .image-title,
.main-section .quality-products .image-carousel-wrapper .slide.active .image-caption {
  display: block;
}
.main-section .quality-products .image-carousel-wrapper button {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.main-section .quality-products .image-carousel-wrapper .prev {
  left: 25px;
}
.main-section .quality-products .image-carousel-wrapper .next {
  right: 25px;
}

.pre-loader {
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.pre-loader .circle-loader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid var(--dark);
  border-top-color: var(--light);
  border-bottom-color: var(--light);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-circle-loader 1s linear infinite;
}
@keyframes animate-circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner-text-animation .single-line {
  overflow: hidden;
}
.banner-text-animation span {
  animation-name: text-animation;
  animation-duration: calc(var(--i) * 1s);
  animation-timing-function: ease-in-out;
  display: inline-block;
}
@keyframes text-animation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.single-word-fade-animation {
  opacity: 0;
}
.single-word-fade-animation.active {
  opacity: 1;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.single-word-fade-animation.active .spacing {
  width: 15px;
}
.single-word-fade-animation.active span {
  animation-name: fadeLeft;
  animation-duration: calc(var(--i) * 1s);
  animation-timing-function: ease-in-out;
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-up-animation {
  opacity: 0;
}
.fade-up-animation.active {
  animation: fade-up-animation 1.5s ease-in-out;
  opacity: 1;
}
@keyframes fade-up-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1045px) {
  .hero-section header {
    top: 22%;
  }
  .hero-section header .secondary-heading {
    font-size: 50px;
    line-height: 50px;
    margin-top: 10px;
  }
  .hero-section .hero-carousel .thumbnail-slide-wrapper {
    bottom: unset;
    top: 30%;
  }
  .main-section {
    margin-top: 50vh;
  }
}
@media screen and (max-width: 767px) {
  nav {
    margin: 0;
    padding: 16px 24px 17px 27.5px;
  }
  nav .navbar-desktop {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
  nav .contact-us a {
    padding: 9px 9px 7px 16.5px;
  }
  nav .contact-us img {
    margin-left: 29px;
    width: 20px;
  }
  .hero-section header {
    left: 25px;
    top: 45%;
  }
  .hero-section header .primary-heading {
    font-size: 14px;
    line-height: 18px;
  }
  .hero-section header .secondary-heading {
    font-size: 46px;
    line-height: 46px;
    margin-top: 15px;
    width: 90%;
  }
  .hero-section header .secondary-heading .single-line:first-child {
    height: 92px;
  }
  .hero-section .hero-carousel .carousel-image {
    height: 100vh;
  }
  .hero-section .hero-carousel .thumbnail-slide-wrapper {
    left: 25px;
  }
  .hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail {
    width: 115px;
    height: 115px;
    margin-right: 30px;
  }
  .hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail .thumbnail-image {
    width: 80px;
    height: 80px;
  }
  .hero-section .hero-carousel .thumbnail-slide-wrapper .thumbnail p {
    font-size: 14px;
  }
  .hero-section .hero-carousel .thumbnail-slide-wrapper .slide .slide-no {
    font-size: 14px;
  }
  .main-section .quality-products {
    padding-top: 0;
  }
  .main-section .quality-products .title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .main-section .quality-products .para {
    font-size: 16px;
    max-width: 75%;
  }
  .main-section .quality-products .image-carousel-wrapper {
    margin-top: 25px;
  }
  .main-section .quality-products .image-carousel-wrapper .carousel .image-title {
    margin-top: 50px;
    line-height: 40px;
    font-size: 24px;
  }
  .main-section .quality-products .image-carousel-wrapper .carousel .image-caption {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
  }
  .main-section .quality-products .image-carousel-wrapper .carousel .slide img {
    width: 150%;
  }
  .main-section .quality-products .image-carousel-wrapper .carousel .slide.active img {
    transform: rotate(0) translateY(20px);
  }
  .main-section .quality-products .image-carousel-wrapper .carousel .slide.left-slide-rotate img {
    transform: rotate(-9.5deg) translate(-130px, 20px);
  }
  .main-section .quality-products .image-carousel-wrapper .carousel .slide.right-slide-rotate img {
    transform: rotate(9.5deg) translate(130px, 20px);
  }
  .main-section .quality-products .image-carousel-wrapper button {
    top: 40%;
  }
  .main-section .quality-products p {
    margin: auto;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */